USE [master]
GO
/****** Object:  Database [Scrum]    Script Date: 26/12/2023 21:38:20 ******/
CREATE DATABASE [Scrum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Scrum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Scrum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Scrum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Scrum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scrum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scrum]
GO
/****** Object:  Table [dbo].[Sprint]    Script Date: 26/12/2023 21:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprint](
	[IdSprint] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](120) NULL,
	[Data] [date] NULL,
	[Hora] [time](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSprint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SprintDiario]    Script Date: 26/12/2023 21:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SprintDiario](
	[IdDiario] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](120) NULL,
	[Data] [date] NULL,
	[Hora] [time](7) NULL,
	[EhImpedimento] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SprintRetrospectiva]    Script Date: 26/12/2023 21:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SprintRetrospectiva](
	[IdRetrospectiva] [int] IDENTITY(1,1) NOT NULL,
	[IdSprint] [int] NULL,
	[Descricao] [nvarchar](120) NULL,
	[Data] [date] NULL,
	[Hora] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRetrospectiva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SprintRevisao]    Script Date: 26/12/2023 21:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SprintRevisao](
	[IdRevisao] [int] IDENTITY(1,1) NOT NULL,
	[IdSprint] [int] NULL,
	[IdTarefa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRevisao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 26/12/2023 21:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[IdTarefa] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](120) NULL,
	[Data] [date] NULL,
	[Hora] [time](7) NULL,
	[Pontuacao] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[IdSprint] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarefa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sprint] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[Sprint] ADD  DEFAULT (getdate()) FOR [Hora]
GO
ALTER TABLE [dbo].[SprintDiario] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[SprintDiario] ADD  DEFAULT (getdate()) FOR [Hora]
GO
ALTER TABLE [dbo].[SprintRetrospectiva] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[SprintRetrospectiva] ADD  DEFAULT (getdate()) FOR [Hora]
GO
ALTER TABLE [dbo].[Tarefa] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[Tarefa] ADD  DEFAULT (getdate()) FOR [Hora]
GO
ALTER TABLE [dbo].[SprintRetrospectiva]  WITH CHECK ADD FOREIGN KEY([IdSprint])
REFERENCES [dbo].[Sprint] ([IdSprint])
GO
ALTER TABLE [dbo].[SprintRevisao]  WITH CHECK ADD FOREIGN KEY([IdSprint])
REFERENCES [dbo].[Sprint] ([IdSprint])
GO
ALTER TABLE [dbo].[SprintRevisao]  WITH CHECK ADD FOREIGN KEY([IdTarefa])
REFERENCES [dbo].[Tarefa] ([IdTarefa])
GO
ALTER TABLE [dbo].[Sprint]  WITH CHECK ADD CHECK  (([Status]='Planejamento' OR [Status]='Execucao' OR [Status]='Finalizada' OR [Status]='Retrospectiva' OR [Status]='Revisao'))
GO
USE [master]
GO
